input {
  font-size: 16px !important;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 1.85rem;
}

.input-container label {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #424245;
}

.input-container input {
  width: 100%;
  border: 1px solid rgba(36, 24, 24, 0.2);
  border-radius: 8px;
  padding: 0.75rem;
  outline: none;
}

.input-container input::placeholder {
  color: #717172;
  font-size: 1rem;
  font-weight: 500;
}

.invalid-input input {
  border: 1px solid red;
  color: red;
}
.invalid-input input:focus {
  border-color: red;
}

small {
  color: red;
  font-size: 0.8rem;
}

.valid-input input {
  border: 1px solid rgba(36, 24, 24, 0.2);
}
.valid-input input:focus {
  border-color: rgba(36, 24, 24, 0.8);
}
