* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #main_navbar {
    display: none;
  }
  .the_user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  #main-body input:not(.edit_btn) {
    border: 1px solid grey;
    border-radius: 4px;
  }
  #main-body{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
  }
  .the-container {
    max-width: 800px;
    width: 100%;
  }
  .the-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  form .user-details .input-box{
    width: calc(100 / 2 - 20px);
  }
  .user-details .input-box input:not(.edit_btn) {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    padding-left: 2px;
  }
  .user-details .input-box input {
    border-bottom-width: 2px;
    transition: all 0 3s ease;
    margin-bottom: 5px;
  }
  .input-box {
    width: 20rem;
  }
  .select {
    margin-bottom: 5px;
    width: 320px;
    height: 40px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 4px;
  }
  .date_input {
    width: 320px;
    height: 40px;
  }
  .user-details .input-box .details {
    display: block;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
   border-color: grey;
  }
  .the_user span {
    border-radius: 100%;
    padding: 0.5rem;
  }
  .body_title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
  }
  .body_title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
  .body_subtitles {
    display: flex;
    gap: 7rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
  }
  .body_subTitles h5 {
    font-weight: 700;
    cursor: pointer;
  }
  .fullName h1 {
    color: #0056D6;
    font-family: "DM Sans";
    font-style: normal;
    font-size: 18px;
    cursor: pointer;
  }
  .fullName p {
    color:  #B6B6B6;
    font-family: "DM Sans";
    font-style: normal;
    font-size: 13px;
  }
  .notification_tab {
    color: #717172;
    cursor: pointer;
  }
  .user_details_field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
  }
  .avatar_fullName {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0056D6;
    color: #fff;
    border-radius: 100%;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
  }
  .avatar {
    width: 70px;
  }

  .edit_btn {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    padding: 0.4rem 1.5rem;
    border-radius: 4px;
    background-color: #0056D6;
    margin-top: 0.1rem;
  }
  .edit_btn:hover {
    background-color: #2c80ff;
  }
  .edit_btn:active {
    background-color: #0056D6;
  }
  #main_footer {
    display: none;
  }
  @media (max-width: 584px) {
    #main_navbar,
    #main_footer {
      display: block;
    }
    #main-body{
      max-width: 95%;
    }
    .container {
      max-width: 700px;
    }
    form .user-details .input-box {
      margin-bottom: 5px;
      width: 100%;
    }
    .select,  .date_input {
      width: 408px;
    }
    .select {
      height: 35px;
    }
    .details, .date_input {
      margin-top: 5px;
    }

  }
  @media (max-width: 1175px) {
    #main-body{
      max-width: 75%;
    }
  }
  @media (max-width: 983px) {
    .SettingsHeader,
    .settings-footer {
      display: none;
    }
    #main_navbar,
    #main_footer {
      display: block;
    }
    #main-body{
      max-width: 80%;
    }
  }
  @media (max-width: 845px) {
    #main_navbar,
    #main_footer {
      display: block;
    }
    .SettingsHeader,
    .settings-footer {
      display: none;
    }
    .the-container {
      max-width: 800px;
      flex-direction: column;
    }
    #main-body{
      max-width: 90%;
    }
  }
  @media (max-width: 745px) {
    #main_navbar,
    #main_footer {
      display: block;
    }
    .the-container {
      max-width: 800px;
      flex-direction: column;
    }
    .SettingsHeader,
    .settings-footer {
      display: none;
    }
    #main-body{
      max-width: 95%;
    }
    .user-details .input-box input:not(.edit_btn) {
      height: 35px;
    }
  }


  @media (max-width: 697px) {
    #main_navbar,
    #main_footer {
      display: block;
    }
    .SettingsHeader,
    .settings-footer {
      display: none;
    }
    #main-body{
      /* margin: auto; */
      padding: 1rem;
    }

    .input-box {
      width: 518px;
    }
    .select,  .date_input {
      width: 100%;
    }
    .select {
      height: 35px;
    }
    .edit-btn {
      margin-top: 5px;
    }

    .the-container form .user-details {
      margin-bottom: 0
    }
  }



