* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main_navbar {
  display: none;
}
.the_user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.the_user span {
  border-radius: 100%;
  padding: 0.5rem;
}
.body_title_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.body_title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.body_subTitles {
  display: flex;
  gap: 7rem;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}
.body_subTitles h5 {
  font-weight: 700;
  cursor: pointer;
}
.fullName h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}
.notification_tab {
  color: #717172;
  cursor: pointer;
}
.user_details_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.avatar_fullName {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.avatar {
  width: 70px;
}

.edit_btn {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  background-color: #0056D6;
}
.edit_btn:hover {
  background-color: #2c80ff;
}
.edit_btn:active {
  background-color: #0056D6;
}
.settings_body {
  max-width: 60%;
  margin: 5rem auto;

}
.more_user_details {
  padding: 1rem;
}
.more_user_details label {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 2rem;
  color: #717172;
  font-family: DM Sans;
}
.field {
  width: 40%;
}
#main_footer {
  display: none;
}

/* media queries starts here */
@media screen and (max-width: 376px){
  #main_navbar,
  #main_footer {
    display: block;
  }
  .SettingsHeader,
  .settings-footer {
    display: none;
  }
  .avatar {
    width: 55px;
  }
  .more_user_details label {
    display: flex;
    flex-direction: column;
    width: 62%;
    text-align: left;
    padding-bottom: 0.2rem;
    font-size: 13px;
  }
  .field {
    font-size: 12px;
  }
  .fullName h1 {
    font-size: 15px;
  }
}

@media (max-width: 567px) {
  #main_navbar,
  #main_footer {
    display: block;
  }
  .SettingsHeader,
  .settings-footer {
    display: none;
  }
  .settings_body {
    max-width: 100%;
  }
  .body_title_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .more_user_details label {
    display: flex;
    flex-direction: column;
    width: 62%;
    text-align: left;
    padding-bottom: 0.5rem;
    color: #717172;
    font-family: DM Sans;
  }
  .field {
    width: 70%;
    font-weight: 700;
    color: black;
  }
  .avatar_fullName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .body_subTitles h5 {
    border-bottom: 1.5px solid #0056D6;
    padding-bottom: 0.7rem;
  }
  .body_subTitles {
    display: flex;
    gap: 7rem;
    border-bottom: none;
    padding-bottom: 1rem;
  }
  .user_details_field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
  }
}	
@media (max-width: 568px) {
  #main_navbar,
  #main_footer {
    display: block;
  }
  .SettingsHeader {
    display: none;
  }
  .settings_body {
    max-width: 100%;
    margin: 5rem auto;

  }
  .body_title_container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem;
  }
  .more_user_details label {
    display: flex;
    width: 100%;
    text-align: left;
    padding-bottom: 0.5rem;
    color: #717172;
    font-family: DM Sans;
  }
  .field {
    width: 70%;
  }
  .avatar_fullName {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 0.3rem;
  }
  .body_subTitles h5 {
    border-bottom: 1.5px solid #0056D6;
    padding-bottom: 0.7rem;
  }
  .body_subTitles {
    display: flex;
    gap: 7rem;
    border-bottom: none;
    padding-bottom: 0.5rem;
  }
  .fullName span {
    font-size: 13px;
  }
  .user_details_field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
  }
}
@media (max-width: 892px) {
  .SettingsHeader{
    display: none;
  }
  .footer_top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .settings-footer a{
    font-size: 13px;
    padding: 0.7rem;
  }
  .footer_bottom_text {
    font-size: 13px;
    padding: 0.7rem;
  }
  .settings_body {
    max-width: 100%;
    margin: 5rem auto;

  }
}
@media (max-width: 486px) {
  #main_navbar,
  #main_footer {
    display: block;
  }
  .SettingsHeader,
  .settings-footer {
    display: none;
  }
}

