.form {
  width: 50%;
}

@media all and (max-width: 760px) {
  .form {
    width: 100%;
  }
}
textarea {
  width: 100%;
  border-radius: 8px;
  padding: 0.75rem;
  outline: none;
  margin-top: 10px;
}

textarea::placeholder {
  color: #717172;
  font-size: 1rem;
  font-weight: 500;
}

.text-area-container label {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #424245;
  padding: 0;
}

.text-area-container p {
  margin-top: 1.25rem;
  color: #424245;
  font-weight: 700;
  font-size: 1rem;
}

.invalid-input textarea {
  border: 1px solid red;
  color: red;
}
.invalid-input textarea :focus {
  border-color: red;
}

small {
  color: red;
  font-size: 0.8rem;
}

.valid-input textarea {
  border: 1px solid rgba(36, 24, 24, 0.2);
}
.valid-input textarea:focus {
  border-color: rgba(36, 24, 24, 0.8);
}

.contact-submit-btn {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.25rem 0;
  margin-top: 7.5rem;
  color: #fff;
  background-color: #1976d2;
  border-radius: 8px;
}
