@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  * {
    scrollbar-width: thin;
    scrollbar-color: #0056D6;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #d9d9d9;
  }

  ::-webkit-scrollbar-thumb {
    background: #0056D6;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0056D6;
  }
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.form-image {
  display: block;
  /* width: 100%; */
  height: 100%;
}
@media (max-width: 950px) {
  .form-container {
    flex-direction: column;
  }
  .form-wrapper {
    width: 100%;
  }
  .form-image {
    display: none;
  }
}
