.theUserDetail,
.syncWithGoogle {
	display: flex;
	gap: 5px;
	align-items: center;
	cursor: pointer;
}
.syncWithGoogle {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgb(231, 227, 227);
	width: 100%;
}
.letterM {
	border: 1px solid rgb(11, 127, 221);
	border-radius: 50%;
	padding: 8px;
}
.theUsersName {
	display: flex;
	flex-direction: column;
}

.theCreateEventContainer {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	max-width: 1200px;
	margin: 0 auto;
}
.theCreateEventContainerLinks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
	gap: 1rem;
	background-color: #fff;
	width: 100%;
}
.goTo {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgb(231, 227, 227);
	width: 100%;
}
.goTo:hover {
	color: #0056d6;
}
.logOutBtn {
	border: 1px solid rgb(221, 18, 11);
	border-radius: 4px;
	text-align: center;
	padding: 0.5rem;
	width: 100%;
	color: rgb(221, 11, 11);
}
.logOutBtn:active {
	background-color: rgb(11, 127, 221);
	color: #fff;
}
.open,
.close {
	display: none;
}

@media screen and (max-width: 430px) {
	.theCreateEventContainer {
		padding: 1rem;
	}
}
